body {
    background: #f0f0f0;
    font-family: 'Times New Roman', Times, serif;
}

.judul {
    text-align: center;
    color: black;
    font-weight: normal;
}

.container {
    width: 850px;
    height: 451px auto;
    background: rgb(219, 215, 219);
    color: black;
    margin: 90px auto;
    padding: 10px 20px 50px 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 0px rgba(5, 5, 5, 0.5);
    text-align: center;
}

.kolom {
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.tombol1 {   
    width: 15%; 
    background: #2828e9;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    padding: 10px;
    color: #fbf9f9;
    font-size: 15px;
    margin-top: 5px; 
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    transition: background-color 0.3s ease;
}

.tombol3{   
   
    background: #05f998da;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    padding: 10px 50px;
    color: #fbf9f9;
    font-size: 15px;
    margin-top: 5px; 
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8a96a3;
}

table {
    margin: 0 auto;
}

table td{
    text-align: left;
    padding: 10px;
    background-color:#fdfdff;
}

table td a {
    background-color: red;
    padding: 5px 8px;
    border-radius: 6px;
}

table th{
    text-align: left;
    padding: 10px 100px 10px 10px;
    background-color: #8e8ea8;
}
